
body {
   /* ==============
    Optional red striped background
    ============== */
   /* background-image:url("../img/striped-background.png");
   background-repeat:repeat; */
   background-color:#000;
   text-align:center;
}
/* ==============
    Super Mario Brothers Font!
    ============== */
@font-face {
    font-family: 'Conv_Super Mario Bros.';
    src: url('fonts/Super Mario Bros..eot');
    src: local('☺'), url('../fonts/Super Mario Bros..woff') format('woff'), url('../fonts/Super Mario Bros..ttf') format('truetype'), url('../fonts/Super Mario Bros..svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
.title {
    color: #FFF;
    font-family: "Conv_Super Mario Bros.",sans-serif;
    font-size: 25px;
    margin: 10px auto;
    }

.title img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius: 10px;
    }

/* ==============
    Flickity Carousel - Default styles are for iPhone 5 portait
    ============== */

.main-carousel {
    margin-bottom: 20px;
    
}
.carousel-cell {
    width: 234px; 
    height: 415px; 
    margin: 0 15px 0 0;
  }

.carousel-cell img {
    width: 100%;
    height: auto;
}
/* Hide flickity dots */
ol {
    display:none;
}


/* ==============
    Download Button
    ============== */
footer {
    text-align: center;
    width: 260px;
    margin:0 auto;
    animation: 4s ease-in-out 0s normal none infinite running bounceIn01;
    cursor: pointer;
    }

@keyframes bounceIn01 {
    0% {
        transform: scale3d(1, 1, 1);
    }
    5% {
        transform: scale3d(0.94, 0.94, 0.94);
    }
    10% {
        transform: scale3d(1.06, 1.06, 1.06);
    }
    15% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    20% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    30% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
    }

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ----------- iPhone 5 and 5S ----------- */

/* Landscape */
@media only screen
and (max-height: 320px)
and (max-width: 568px)
and (orientation:landscape){
.main-carousel {
    margin-bottom: 7px;
}
.carousel-cell {
    width: 108px;
    height: 192px; 
    margin: 0 5px 0 0;
}
.title {
    font-size: 38px;
    margin: 10px auto;
}
}

   /* ----------- iPhone 6 ----------- */

   /* Portrait */
@media only screen
and (min-width: 321px)
and (max-width: 375px)
and (min-height: 569px)
and (max-height: 667px)
and (orientation:portrait) { 
.main-carousel {
    margin-bottom: 15px;
}
.carousel-cell {
    width: 284px;
    height: 505px; 
      }
.title {
    font-size: 30px;
    margin: 15px 0;
    }
}

/* Landscape */
@media only screen
and (min-height: 321px)
and (max-height: 375px)
and (min-width: 569px)
and (max-width: 667px)
and (orientation:landscape){
.carousel-cell {
    width: 133px; 
    height: 235px; 
    margin: 0 5px 0 0;
  }
.title {
    font-size: 40px;
    margin: 13px 0;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen
and (min-width: 376px)
and (max-width: 414px)
and (min-height: 668px)
and (max-height: 736px)
and (orientation:portrait) {
.main-carousel {
    margin-bottom: 10px;
}
.carousel-cell {
    width: 331px;
    height: 590px; 
      }
.title {
    font-size: 35px;
    margin: 15px 0;
    }
}

/* Landscape */
@media only screen
and (min-height: 376px)
and (max-height: 414px)
and (min-width: 668px)
and (max-width: 736px)
and (orientation:landscape){ 
.main-carousel {
    margin-bottom: 10px;
}
.carousel-cell {
    width: 154px; 
    height: 275px; 
    margin: 0 10px 0 0;
  }
.title {
    font-size: 40px;
    margin: 13px 0;
    }
}

/* ----------- Desktop ----------- */
@media only screen 
and (min-device-width: 737px) {
.main-carousel {
    height: 696px;
}
.carousel-cell {
    width: 20%; 
    height: 100%; 
    margin: 0 15px 25px 0;
  }
.title {
    font-size: 300%;
    margin: 25px 0;
    }
}
